<mat-list>
  <img src="https://s3.ap-south-1.amazonaws.com/thinglogix-mea/Branding/Tl-logo.png" alt="Image" class="card-image"
    style="height: 100%;width: 100%;">
  <mat-list-item>
    <h3>Need Help?</h3>
  </mat-list-item>
  <mat-list-item>
    <p>Chatbot by Thinglogix-MEA</p>
  </mat-list-item>
  <mat-list-item>
    <h3>Contact Us!</h3>
  </mat-list-item>
  <mat-list-item>
    <h3><button mat-fab onclick="window.location.href = 'tel:+971506555486'" style="margin-right:7px">
        <mat-icon>
          call
        </mat-icon>
      </button>
      <button mat-fab onclick="window.location.href = 'mailto:faisal@thinglogi.com'" style="margin-right:7px">
        <mat-icon>
          email
        </mat-icon>
      </button>
      <button
        onclick="window.location.href = 'intent://send/1506555486#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end'"
        mat-fab style="margin-right:7px">
        <mat-icon>
          chat_bubble
        </mat-icon>
      </button></h3>
  </mat-list-item>
</mat-list>