@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: Roboto, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

#toolbarMenu {
    cursor: pointer;
    margin-right: 20px;
}
#mainToolbar .toolbar-spacer{
    flex: 1 1 auto;
}
#mainToolbar .toolbar-icon{
    cursor: pointer;
    margin: 0 8px;
}


#sidenavContainer {
    margin-top: 55px;
}
#sidenav {
    width: 240px;
}
#sidenav .avatar{
    background-image: url('http://i.pravatar.cc/300');
    background-size: cover;
}
#sidenav .menu-item {
    width: 100%;
    border-radius: 0;
    text-align: left;
}
#sidenav .menu-item :hover {
    background:#eee;
}
#sidenav .menu-item mat-icon {
    margin-right: 20px;
    margin-left: 15px;
}
.dash-list h3{
    padding: 15px;
}

// overwrite styles
#sidenav .mat-list-item-content {
    padding: 0;
}
#bottomInput .mat-form-field-wrapper {
    padding-bottom: 0px;
}
#bottomInput .mat-form-field-underline {
    position: initial;
}
#bottomInput .mat-form-field-flex {
    padding-top: 0px;
}

.mat-select-panel {
    min-width: 112px;
    max-width: 280px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 256px;
    min-width: 100%;
    border-radius: 4px;
}

